.guildSelect {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px
}

.guildPresent {
    border-radius: 50%;
    width: 64px;
    height: 64px
}
.guildAbsent {
    border-radius: 50%;
    filter: grayscale(90%);
    width: 64px;
    height: 64px
}

.guildAbsent:hover {
    filter: grayscale(10%);
}
