.guild-side-bar {
    width: 100%;
    background-color: var(--background-tertiary);
    color: #dcddde;
    padding-top: .7em;
    margin-right: 1em;
    overflow-y: scroll;
    height: 95vh;
}
.guild-side-bar-inner {
    display: flex;
    flex-direction: column;
}

.guild-side-bar-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #36393f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #dcddde;
}

.absent {
    filter: grayscale(95%);
    transition: filter 0.5s;
}

.absent:hover {
    filter: grayscale(0%);
}