/* horizontal nav bar */

.navbar {
    background-color: var(--background-secondary);
    color: var(--text-active);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-bottom: 1px black;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 1rem;
}
