:root {
    --background-primary: #313338;
    --background-secondary: #2A2D31;
    --background-tertiary: #1D1E21;
    --text-active: #dddadd;
    --text-muted: #72767d;
    --text-link: #006ce7;
    --danger: #DA373C;
    --primary: #7189DA;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-primary: #FFFFFF;
        --background-secondary: #F2F3F5;
        --text-active: #000;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Whitney', 'Roboto', sans-serif;
    background-color: var(--background-primary);
    color: var(--text-active);
    width: 100%;
    font-size: 16px
}

a {
    color: var(--text-link);
    text-decoration: none;
}

.spinner {
    animation: _spinner 1s ease-in-out infinite;
    display: inline-block;
}

.small {
    font-size: 0.8rem;
}
.medium {
    font-size: 1rem;
}
.large {
    font-size: 1.2rem;
}

@keyframes _spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "sidebar content";
    height: 100%;
}
