main.home {
    display: grid;
    grid-template-columns: 10vw 1fr;
    height: 100%
}

.sidebar {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: fit-content(100%);
    gap: 4px;
    /* make all grid items the same horizontal size */
    align-items: stretch;
    background-color: var(--background-secondary);
    height: 100%;
    padding: 4px;
    /* box shadow to the right */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

.sidebar .sidebarButton {
    padding: 4px;
    color: white;
    cursor: pointer;
}

.sidebarButton:hover {
    background-color: var(--background-primary);
}
